function Person( name, age, sex ) {
    this.name = name;
    this.age = age;
    this.sex = sex;
}

Person.prototype.greet = function( ) {
    return "Hello " + this.name;
};

var me = new Person( "Alex", 28, "male" );
me.greet( ); // "Hello Alex"

/* ES 2015 */

class Person {
    constructor( name, age, sex ) {
        this.name = name;
        this.age = age;
        this.sex = sex;
    }

    greet( ) {
        return "Hello " + this.name;
    }
}

const me = new Person( "Alex", 28, "male" );
me.greet( ); // "Hello Alex"


